<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/login.css" />
  </head>
  <body>
    <div class="navbar">
      <a href="/contactUs">Contact Us</a>
    </div>
    <div class="login-container">
      <h3 class="login-heading">Please Login</h3>
      <form
        onSubmit="setUserToLocal()"
        action="/user"
        method="post"
        class="login-form"
      >
        <label>Username</label>
        <input type="text" name="username" id="username" required />
        <input type="submit" value="login" class="login" />
      </form>
    </div>
    <script>
      function setUserToLocal() {
        const username = document.getElementById("username").value;
        if (!username) {
          alert("please use a valid name");
        } else {
          localStorage.setItem("username", username);
        }
      }
    </script>
  </body>
</html>
